********************************************************************
*                                                                  *
* DRILL TAPE SUMMARY REPORT                                        *
*                                                                  *
* D:\UTENTI\00.LAVORI IN CORSO\METALTRONICA\22-304-1\22-304-1.MAX  *
* Mon May 06 15:15:54 2024                                         *
*                                                                  *
********************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       79       409      200      100                                                                                 
T2       354      4        200      100                                                                                 
T3       433      9        200      100                                                                                 
T4       472      22       200      100                                                                                 
T5       512      3        200      100                                                                                 
T6       630      2        200      100                                                                                 
T7       1260     5        200      100                                                                                 
